<ul class="list-group-flush p-3">
{% if l_comments %}
    {% for comment in l_comments %}

    <a href="{% url 'detiels' comment.post.id %}" class="text-dark">
        <li class="list-group-item">
                    {% if comment.body|length > 30 %}
                    {{comment.body|slice:'45'}} ..
                    {% else %}
                    {{comment.body}}
                    {% endif %}
        </li>
    </a>

    {% endfor %}
    {% else %}
    <small>لا توجد اي تعاليق</small>
    {% endif %}


</ul>