         <div class="border-top pt-3 mt-4 text-center text-light pb-3">
 {% if page.has_next %}
          <a class="btn  btn-secondary bg-secondary text-light" href="?page={{page.next_page_number}}">التالي</a>
             {% else %}
      <a class="btn  btn-secondary bg-secondary text-light disabled"  >التالي</a>

 {% endif  %}
              <span>الصفحة {{page.number}} من {{page.paginator.num_pages}}</span>

 {% if page.has_previous %}

        <a class="btn  btn-secondary bg-secondary text-light " href="?page={{page.previous_page_numbe}}"> السابق</a>

            {% else %}
       <a class="btn  btn-secondary bg-secondary text-light disabled" >السابق</a>

 {% endif  %}

         </div>
